In [1]:
import pickle
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('/home/tatras/Documents/internship 2/FootLocker/data') #Changing working directory !!!

In [3]:
with open('weekly_sales100.pkl', 'rb') as f: # Loading data using pickle file !!!
    data = pickle.load(f)

In [4]:
data.head()

           sku store_number  week1  week2  week3  week4  week5
0  03420100304      0306913    1.0    NaN    NaN    NaN    NaN
1  03420100304      0306914    1.0    NaN    NaN    1.0    NaN
2  03420100304      0306959    1.0    5.0    3.0    2.0    NaN
3  03420100304      0306960    1.0    NaN    NaN    NaN    NaN
4  03420100304      0306972    1.0    1.0    1.0    NaN    NaN

In [4]:
data.fillna(0, inplace = True) #Fill NaN values with 0

In [5]:
data.head()

           sku store_number  week1  week2  week3  week4  week5
0  03420100304      0306913    1.0    0.0    0.0    0.0    0.0
1  03420100304      0306914    1.0    0.0    0.0    1.0    0.0
2  03420100304      0306959    1.0    5.0    3.0    2.0    0.0
3  03420100304      0306960    1.0    0.0    0.0    0.0    0.0
4  03420100304      0306972    1.0    1.0    1.0    0.0    0.0

In [31]:
df_sku = pd.DataFrame()

In [32]:
df_sku['week1_total_sales'] = data.groupby('sku')['week1'].sum()
df_sku['week2_total_sales'] = data.groupby('sku')['week2'].sum()
df_sku['week3_total_sales'] = data.groupby('sku')['week3'].sum()
df_sku['week4_total_sales'] = data.groupby('sku')['week4'].sum()
df_sku['week5_total_sales'] = data.groupby('sku')['week5'].sum()
df_sku.reset_index(inplace = True)

In [33]:
df_sku['sku_overall_sales'] = df_sku.iloc[:, 1:6].sum(axis = 1)

In [34]:
df_sku.head()

,sku,week1_total_sales,week2_total_sales,week3_total_sales,week4_total_sales,week5_total_sales,sku_overall_sales
0,03420100304,241.0,74.0,57.0,59.0,66.0,497.0
1,03420100404,76.0,23.0,16.0,52.0,12.0,179.0
2,03420100904,26.0,12.0,10.0,96.0,13.0,157.0
3,03420102204,191.0,108.0,90.0,163.0,296.0,848.0
4,03420102304,183.0,75.0,104.0,222.0,255.0,839.0

In [35]:
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [36]:
df_sku.week1_total_sales.describe()

count     6031.000000
mean       431.765213
std        919.961517
min          2.000000
25%         94.000000
50%        215.000000
75%        467.500000
max      25930.000000
Name: week1_total_sales, dtype: float64

In [37]:
data_dict_sku={}
outliers_sku = ['week1_total_sales', 'week2_total_sales',
                'week3_total_sales', 'week4_total_sales',
                'week5_total_sales', 'sku_overall_sales']

In [38]:
for i in outliers_sku:    
    q1 = df_sku[i].quantile([0.25, 0.75]).iloc[0]
    q3 = df_sku[i].quantile([0.25, 0.75]).iloc[1]
    iqr = q3 - q1
    upper_lim = q3 + 1.5*iqr
    lower_lim = q1 - 1.5*iqr
    up_outliers = df_sku.sku[df_sku[i] > upper_lim].values.tolist()
    low_outliers = df_sku.sku[df_sku[i] < lower_lim].values.tolist()
    total_outliers = up_outliers + low_outliers
    data_dict_sku[i]=(up_outliers,low_outliers)

In [39]:
data_dict_sku.keys()

dict_keys(['week1_total_sales', 'week2_total_sales', 'week3_total_sales', 'week4_total_sales', 'week5_total_sales', 'sku_overall_sales'])

In [40]:
data_dict_sku["week1_total_sales"]

(['03420569304',
  '03420570504',
  '03420570604',
  '03420674804',
  '03420700204',
  '03420700904',
  '03420704004',
  '03420713704',
  '03420723104',
  '03420726004',
  '03420767104',
  '03420808704',
  '03420817104',
  '03420843004',
  '03420860304',
  '03420860404',
  '03420860504',
  '03420861104',
  '03420868404',
  '03420869804',
  '03420870604',
  '03420871204',
  '03420879104',
  '03420879804',
  '03420885204',
  '03420902904',
  '03420904404',
  '03420905204',
  '03420905304',
  '03420915804',
  '03420919404',
  '03420921804',
  '03420921904',
  '03420922404',
  '03420922604',
  '03420924304',
  '03420924404',
  '03420924504',
  '03420927504',
  '03420930204',
  '03420932904',
  '03420933204',
  '03420945204',
  '03420945704',
  '03420945804',
  '03420945904',
  '03420947304',
  '03420950204',
  '03420951904',
  '03420952104',
  '03420983704',
  '03420987104',
  '03421310504',
  '03421421804',
  '03421433104',
  '03421433204',
  '03421433304',
  '03421518504',
  '03421621404',
  '03421623404',
  '03421635204',
  '03421652504',
  '03421655504',
  '03421697804',
  '03421697904',
  '03421698104',
  '03421698204',
  '03421707404',
  '03421712504',
  '03421712704',
  '03421712804',
  '03421735404',
  '03421735504',
  '03421735604',
  '03421748904',
  '03421804404',
  '03421804504',
  '03421805204',
  '03421805304',
  '03421807304',
  '03421807604',
  '03421807704',
  '03421807804',
  '03421808004',
  '03421808104',
  '03421808204',
  '03421813704',
  '03421815804',
  '03421815904',
  '03421817104',
  '03421825604',
  '03421825704',
  '03421825804',
  '03421828104',
  '03421828704',
  '03421828904',
  '03421831104',
  '03421831504',
  '03421831904',
  '03421832304',
  '03421832404',
  '03421832604',
  '03421832804',
  '03421832904',
  '03421833304',
  '03421833404',
  '03421833804',
  '03421833904',
  '03421835004',
  '03421837704',
  '03421839804',
  '03421839904',
  '03421842004',
  '03421842104',
  '03421846504',
  '03421853304',
  '03421853404',
  '03421853504',
  '03421854404',
  '03421854604',
  '03421857704',
  '03421858204',
  '03421861604',
  '03421861704',
  '03421863304',
  '03421863404',
  '03421863504',
  '03421863604',
  '03421863704',
  '03421863804',
  '03421863904',
  '03421864304',
  '03421864404',
  '03421877104',
  '03421877204',
  '03421882904',
  '03421885504',
  '03421888404',
  '03421924604',
  '03429704904',
  '03429705004',
  '03623511904',
  '03626503304',
  '03626510104',
  '03626517404',
  '03626523004',
  '03626526004',
  '03626526404',
  '03626527104',
  '03626527804',
  '03626528104',
  '03626528704',
  '03626532404',
  '03626535404',
  '03626536404',
  '03626539004',
  '03626543004',
  '03626545004',
  '03626545604',
  '03626547304',
  '03626547804',
  '03626549804',
  '03626552304',
  '03626582104',
  '03626590204',
  '03626621404',
  '03626645204',
  '03626657004',
  '03626657904',
  '03626665304',
  '03626668204',
  '03626680804',
  '03626681104',
  '03626681604',
  '03626681704',
  '03626684004',
  '03626688704',
  '03626691404',
  '03626694804',
  '03626699904',
  '03626704604',
  '03626708504',
  '03626709304',
  '03626719504',
  '03626720404',
  '03626721204',
  '03626722304',
  '03626722404',
  '03626723504',
  '03626724104',
  '03626724304',
  '03626724704',
  '03626734104',
  '03626738804',
  '03626752904',
  '03626766004',
  '03626766304',
  '03626767204',
  '03626771704',
  '03626773304',
  '03626788404',
  '03626835604',
  '03626849904',
  '03626852204',
  '03626856404',
  '03626859104',
  '03626877104',
  '03626886404',
  '03626910604',
  '03626914604',
  '03626957604',
  '03626961104',
  '03626961604',
  '03626962404',
  '03626965604',
  '03626966804',
  '03626967404',
  '03626967604',
  '03626968404',
  '03626970804',
  '03626982904',
  '03626983104',
  '03626991404',
  '03626993304',
  '03626993904',
  '03626994104',
  '03626996104',
  '03626996504',
  '03626997204',
  '03626997504',
  '03626998104',
  '03626998204',
  '03626998604',
  '03626999104',
  '03627113904',
  '03627140104',
  '03627143404',
  '03627144104',
  '03627152304',
  '03627152804',
  '03627158604',
  '03627158804',
  '03627171604',
  '03627177604',
  '03627181404',
  '03627215804',
  '03627220604',
  '03637006104',
  '03637019704',
  '03637024804',
  '03637035104',
  '03637040204',
  '03637054004',
  '03637062104',
  '03637062904',
  '03637063804',
  '03637064504',
  '03637102804',
  '03637103004',
  '03637115204',
  '03637161604',
  '03637187004',
  '03637221104',
  '03637221204',
  '03637221604',
  '03637222104',
  '03637241204',
  '03637242904',
  '03637245604',
  '03637249604',
  '03637253904',
  '03637259804',
  '03637261404',
  '03637261504',
  '03637264504',
  '03637266504',
  '03657617604',
  '16626571304',
  '16626612204',
  '16626891904',
  '16626894404',
  '16626901604',
  '16626909504',
  '16626926004',
  '16626926404',
  '16626931604',
  '16626956704',
  '16626956904',
  '16626957104',
  '16626957404',
  '16626958304',
  '16626958404',
  '16626959904',
  '16626960604',
  '16626961304',
  '16626963804',
  '16626976804',
  '16626986304',
  '16626991804',
  '16627015004',
  '16627027504',
  '16627028004',
  '16627035804',
  '16627036104',
  '16627036204',
  '16627036304',
  '16627037004',
  '16627037104',
  '16627037204',
  '16627037304',
  '16627037404',
  '16627037504',
  '16627037604',
  '16627037804',
  '16627039204',
  '16627039704',
  '16627044704',
  '16627044904',
  '16627049004',
  '16627050504',
  '16628218404',
  '16628291904',
  '16628294604',
  '16628295704',
  '16628295904',
  '16628296004',
  '16628296204',
  '16628296404',
  '16628296604',
  '16637001204',
  '16637059704',
  '16637060104',
  '16637063804',
  '16637081604',
  '16637219204',
  '16637239304',
  '16637250504',
  '16637256604',
  '16637256904',
  '16637259904',
  '18420003704',
  '18420125904',
  '18421051104',
  '18421053704',
  '18421058904',
  '18421059004',
  '18421063404',
  '18421063904',
  '18421085504',
  '18421200204',
  '18421200904',
  '18421205504',
  '18421205604',
  '18421205704',
  '18421205804',
  '18421210604',
  '18421211704',
  '18421212004',
  '18421216704',
  '18421217004',
  '18421217704',
  '18421217804',
  '18421220604',
  '18421223304',
  '18421228604',
  '18421228704',
  '18421231504',
  '18421235904',
  '18421251904',
  '18421252204',
  '18421311604',
  '18421410404',
  '18421418604',
  '18421419204',
  '18421419604',
  '18421420604',
  '18421422304',
  '18421422504',
  '18421436404',
  '18421439504',
  '18421441304',
  '18421473704',
  '18421691504',
  '18421691604',
  '18421691704',
  '18421692504',
  '18421692604',
  '18622226404',
  '18622516704',
  '18622517004',
  '18622517704',
  '18622518304',
  '18622519404',
  '18622846504',
  '18622846904',
  '18622847204',
  '18622847604',
  '18622848004',
  '18622849004',
  '18622850004',
  '18622850504',
  '18622866604',
  '18622898804',
  '18622900504',
  '18622901604',
  '18622902604',
  '18622903004',
  '18622904304',
  '18623407604',
  '18623416504',
  '18624343004',
  '18624344004',
  '18624344304',
  '18624345304',
  '18624345804',
  '18624348104',
  '18624363104',
  '18632503604',
  '18632541004',
  '18632861704',
  '18632862104',
  '18632863604',
  '18632875704',
  '18632887904',
  '18633549304',
  '18633659104',
  '18634086704',
  '18634087004',
  '18634363504',
  '18634363704',
  '18634370904',
  '18634371004',
  '29420860304',
  '29420860504',
  '29420905304',
  '29420919404',
  '29420951904',
  '29420952104',
  '29421825604',
  '29421825804',
  '29421837904',
  '29421846504',
  '29421863604',
  '29421924604',
  '29626517404',
  '29626523004',
  '29626526004',
  '29626526404',
  '29626539004',
  '29626681104',
  '29626688704',
  '29626699904',
  '29626704604',
  '29626708504',
  '29626709304',
  '29626719504',
  '29626722304',
  '29626722404',
  '29626724304',
  '29626967604',
  '29626968404',
  '29626993904',
  '29626994104',
  '29626996104',
  '29626996504',
  '29626997204',
  '29626998104',
  '29626998204',
  '29627177604',
  '29627220604'],
 [])

In [41]:
df_store = pd.DataFrame()

In [42]:
df_store['week1_total_sales'] = data.groupby('store_number')['week1'].sum()
df_store['week2_total_sales'] = data.groupby('store_number')['week2'].sum()
df_store['week3_total_sales'] = data.groupby('store_number')['week3'].sum()
df_store['week4_total_sales'] = data.groupby('store_number')['week4'].sum()
df_store['week5_total_sales'] = data.groupby('store_number')['week5'].sum()
df_store.reset_index(inplace = True)

In [43]:
df_store['store_overall_sales'] = df_store.iloc[:, 1:6].sum(axis = 1)

In [44]:
df_store.head()

,store_number,week1_total_sales,week2_total_sales,week3_total_sales,week4_total_sales,week5_total_sales,store_overall_sales
0,0306001,32.0,5.0,46.0,2.0,0.0,85.0
1,0306005,17.0,1.0,2.0,43.0,4.0,67.0
2,0306018,10.0,0.0,1.0,2.0,41.0,54.0
3,0306034,10.0,0.0,0.0,42.0,42.0,94.0
4,0306046,21.0,0.0,44.0,44.0,2.0,111.0

In [45]:
data_dict_store={}
outliers_store = ['week1_total_sales', 'week2_total_sales',
                  'week3_total_sales', 'week4_total_sales',
                  'week5_total_sales', 'store_overall_sales']

In [46]:
for i in outliers_store:    
    q1 = df_store[i].quantile([0.25, 0.75]).iloc[0]
    q3 = df_store[i].quantile([0.25, 0.75]).iloc[1]
    iqr = q3 - q1
    upper_lim = q3 + 1.5*iqr
    lower_lim = q1 - 1.5*iqr
    up_outliers = df_store.store_number[df_store[i] > upper_lim].values.tolist()
    low_outliers = df_store.store_number[df_store[i] < lower_lim].values.tolist()
    total_outliers = up_outliers + low_outliers
    data_dict_store[i]=(up_outliers,low_outliers)

In [47]:
data_dict_store.keys()

dict_keys(['week1_total_sales', 'week2_total_sales', 'week3_total_sales', 'week4_total_sales', 'week5_total_sales', 'store_overall_sales'])

In [48]:
data_dict_store["store_overall_sales"] # From here you can obtain outliers for any column !!!

(['0306959',
  '0306961',
  '0307094',
  '0307103',
  '0307121',
  '0307133',
  '0307152',
  '0307239',
  '0307242',
  '0307276',
  '0307288',
  '0307337',
  '0307378',
  '0307400',
  '0307413',
  '0307456',
  '0307494',
  '0307499',
  '0307595',
  '0307615',
  '0307638',
  '0307701',
  '0307758',
  '0307799',
  '0307833',
  '0307866',
  '0307910',
  '0307912',
  '0307916',
  '0307918',
  '0307946',
  '0308004',
  '0308014',
  '0308061',
  '0308085',
  '0308115',
  '0308137',
  '0308138',
  '0308139',
  '0308155',
  '0308224',
  '0308265',
  '0308269',
  '0308420',
  '0308448',
  '0308450',
  '0308463',
  '0308584',
  '0308720',
  '0308729',
  '0308747',
  '0308756',
  '0308793',
  '0308832',
  '0308840',
  '0308869',
  '0308878',
  '0308879',
  '0309501',
  '0309524',
  '0325002',
  '0325007',
  '0325008',
  '0325010',
  '0325011',
  '0325019',
  '0325031',
  '0325034',
  '0325036',
  '0325077',
  '0325141',
  '1606826',
  '1606868',
  '1646599',
  '1646825',
  '1648524',
  '1648539',
  '1648572',
  '1814008',
  '1814037',
  '1814060',
  '1814069',
  '1814091',
  '1814118',
  '1814122',
  '1814150',
  '1814187',
  '1814208',
  '1814216',
  '1814228',
  '1814244',
  '1814263',
  '1814316',
  '1814317',
  '1814329',
  '1814338',
  '1814361',
  '1814376',
  '1814385',
  '1814410',
  '1814420',
  '1814498',
  '1814510',
  '1814522',
  '1814539',
  '1814562',
  '1814940',
  '1814945',
  '1815047',
  '2957205',
  '2957217',
  '2957308',
  '2957648',
  '2957912'],
 [])

In [6]:
data_sku_store = data.sort_values('sku')

In [7]:
data_sku_store['store_overall_sales'] = data_sku_store.iloc[:, 2:7].sum(axis = 1)

In [8]:
data_sku_store.head()

,sku,store_number,week1,week2,week3,week4,week5,store_overall_sales
0,03420100304,0306913,1.0,0.0,0.0,0.0,0.0,1.0
132,03420100304,0308531,1.0,0.0,0.0,0.0,0.0,1.0
133,03420100304,0308535,1.0,0.0,0.0,0.0,0.0,1.0
134,03420100304,0308550,1.0,0.0,0.0,1.0,0.0,2.0
135,03420100304,0308581,1.0,0.0,0.0,1.0,0.0,2.0

In [ ]:
for i in data['store_number'].unique():
    sample = pd.DataFrame(data_sku_store[data_sku_store['store_number'] == i])
    for j in sample['sku'].unique():
        x = sample[sample['sku'] == j]['sku'].count()
        if(x != 1):
            print('failure')

In [11]:
sku_unique = data_sku_store['sku'].unique()

In [12]:
sku_unique

array(['03420100304', '03420100404', '03420100904', ..., '29658454504',
       '29658488604', '29658489004'], dtype=object)

In [13]:
data_dict_sku_store={}
outliers_sku_store = ['week1', 'week2',
                      'week3', 'week4',
                      'week5', 'store_overall_sales']

In [48]:
temp = data_sku_store[data_sku_store['sku'] == '03420100304']
temp.describe()
for i in outliers_sku_store:    
        q1 = temp[i].quantile([0.25, 0.75]).iloc[0]
        q3 = temp[i].quantile([0.25, 0.75]).iloc[1]
        iqr = q3 - q1
        upper_lim = q3 + 1.5*iqr
        lower_lim = q1 - 1.5*iqr
        up_outliers = [temp.store_number[temp[i] > upper_lim],temp[i][temp[i] > upper_lim]]
        low_outliers = [temp.store_number[temp[i] < lower_lim],temp[i][temp[i] > upper_lim]]
        data_dict_sku_store[i]=(up_outliers,low_outliers)

In [42]:
data_dict_sku_store.keys()

dict_keys(['week1', 'week2', 'week3', 'week4', 'week5', 'store_overall_sales'])

In [45]:
data_dict_sku_store['week1']

([145    0308657
  147    0308710
  152    0308743
  130    0308458
  107    0308138
  120    0308279
  122    0308313
  183    0310588
  191    0325016
  196    0325027
  197    0325028
  160    0308779
  175    0308895
  176    0309386
  101    0308073
  28     0307320
  31     0307387
  44     0307502
  17     0307166
  19     0307205
  20     0307224
  50     0307552
  80     0307833
  82     0307845
  94     0307946
  98     0308014
  54     0307615
  57     0307622
  60     0307638
  63     0307679
  65     0307702
  74     0307781
  70     0307721
  68     0307712
  69     0307716
  Name: store_number, dtype: object, 145    2.0
  147    2.0
  152    2.0
  130    2.0
  107    2.0
  120    2.0
  122    2.0
  183    2.0
  191    2.0
  196    2.0
  197    2.0
  160    2.0
  175    2.0
  176    2.0
  101    2.0
  28     2.0
  31     2.0
  44     2.0
  17     2.0
  19     2.0
  20     2.0
  50     3.0
  80     2.0
  82     2.0
  94     2.0
  98     2.0
  54     2.0
  57     2.0
  60     2.0
  63     2.0
  65     2.0
  74     2.0
  70     2.0
  68     2.0
  69     2.0
  Name: week1, dtype: float64],
 [Series([], Name: store_number, dtype: object), 145    2.0
  147    2.0
  152    2.0
  130    2.0
  107    2.0
  120    2.0
  122    2.0
  183    2.0
  191    2.0
  196    2.0
  197    2.0
  160    2.0
  175    2.0
  176    2.0
  101    2.0
  28     2.0
  31     2.0
  44     2.0
  17     2.0
  19     2.0
  20     2.0
  50     3.0
  80     2.0
  82     2.0
  94     2.0
  98     2.0
  54     2.0
  57     2.0
  60     2.0
  63     2.0
  65     2.0
  74     2.0
  70     2.0
  68     2.0
  69     2.0
  Name: week1, dtype: float64])

In [17]:
[len(x) for x in data_dict_sku_store['week1']]

[35, 0]

In [18]:
data_sku_store[data_sku_store['sku'] == '03420100304']['store_number'].count()

205

In [13]:
for item in sku_unique:
    temp = data_sku_store[data_sku_store['sku'] == item]
    for i in outliers_sku_store:    
        q1 = temp[i].quantile([0.25, 0.75]).iloc[0]
        q3 = temp[i].quantile([0.25, 0.75]).iloc[1]
        iqr = q3 - q1
        upper_lim = q3 + 1.5*iqr
        lower_lim = q1 - 1.5*iqr
        up_outliers = temp.store_number[temp[i] > upper_lim].values.tolist()
        low_outliers = temp.store_number[temp[i] < lower_lim].values.tolist()
        data_dict_sku_store[i]=(up_outliers,low_outliers)

IndentationError: unexpected indent (<ipython-input-13-1effac925afd>, line 2)